<template name="appBody">
  <!--<div class="wrapper-welcome">
    <div class="title-welcome">The Cup Championship</div>
    <div class="description-welcome">Entering its ninth season, The Cup <a href="http://percolatestudio.com" target="_blank" class="js-open"></a> is not your grandmother's golf tournament. The drama that unfolds over two days in early September is too much for one (wo)man to grasp. Thus, we present to you this fantastic application (thanks <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>).
    </div>
    
    <div class="description-welcome">
    You can run this app in desktop or mobile browser as a convenience (what you're looking at right now).
    </div> 
      
    <div class="description-welcome">
    The app is also designed to run on an iPhone. Download it in late-August (The Cup) from the Apple Store.
    </div>


  </div>-->

  <div id="wrapper" class="{{menuOpen}} {{overlayOpen}}">
    {{>Navigation}}
      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Connecting</div>
          </div>
        {{/unless}}
          
        {{#if scriptrunning}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Updating</div>
          </div>
        {{/if}} 
          
        <!--{{#unless matchessubscribe}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Loading data</div>
          </div>
        {{/unless}}-->  

        <!--{{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}-->
      </div>
      
    {{> overlay}}

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>